@model IEnumerable<ipt2project.Models.History>

@{
    ViewBag.Title = "ViewAllHistory";
    Layout = null;
}

<h2>History</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_ordered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_delivered)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrderName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderDetails)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date_ordered)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date_delivered)
    </td>
    <td></td>
</tr>
}

</table>
